body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
}

input {
  max-width: 500px;
}

.gray {
  color: #828282;
}

.orange {
  background-color: #ff6600;
}

.background-gray {
  background-color: rgb(246, 246, 239);
}

.f11 {
  font-size: 11px;
}

.w85 {
  width: 85%;
}

.button {
  font-family: monospace;
  font-size: 10pt;
  color: black;
  background-color: buttonface;
  text-align: center;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  cursor: pointer;
  max-width: 250px;
}

input {
  padding: 0.1em;
  margin-bottom: 0.2em;
}

.error-input {
  border: 2px solid red;
  border-radius: 4px;
}

.error-text {
  margin: 0.25em 0 0.5em 0;
  padding: 0;
  color: red;
  font-style: bold;
}

.header {
  background: linear-gradient(
    125deg,
    #ecfcff 0%,
    #ecfcff 40%,
    #b2fcff calc(40% + 1px),
    #b2fcff 60%,
    #5edfff calc(60% + 1px),
    #5edfff 72%,
    #3e64ff calc(72% + 1px),
    #3e64ff 100%
  );
  white-space: nowrap;
  padding: 0.25rem;
  color: black;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  display: flex;
  box-shadow: 4px 4px 14px -3px rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header-title {
  font-weight: 700;
  margin-left: 0.7rem;
  margin-top: 1rem;
  margin-right: 5px;
  color: black;
  text-decoration: none;
}

.header-logo {
  width: 100px;
  height: 50px;
  margin-left: 20px;
  background: rgba(0, 0, 0, 0.144);
  padding: 0 10px;
  border-radius: 20px;
}

.header-link {
  margin-left: 0.7rem;
  margin-top: 0.9rem;
  padding: 2px 5px;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  transition: all 0.5s ease;
  cursor: pointer;
}

.header-link:hover {
  background-color: #d8e2e7;
  color: rgb(30, 16, 160);
}

.header-link-login {
  margin-left: 0.7rem;
  margin-top: 0.9rem;
  padding: 2px 5px;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  margin-bottom: 15px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.45s ease-in-out;
}

.header-link-login:hover {
  background-color: #145377;
  color: rgb(181, 218, 200);
}

.header-button {
  margin-left: 0.25rem;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.header-name {
  color: black;
  text-decoration: none;
  margin-top: 1rem;
  color: yellow;
}

.divider {
  margin-left: 0.7rem;
  margin-top: 1rem;
  color: black;
}

.link {
  color: #828282;
}

textarea {
  margin-top: 0.5em;
  width: 90%;
}

.delete-button {
  color: red;
  cursor: pointer;
}

.app-container {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

.route-container {
  background-color: #f3f3d2;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.3);
}

.pagination {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vote-button {
  font-size: 11px;
  color: #828282;
  margin-left: 0.25rem;
}

.forgot-password {
  padding: 1em 0;
}

.logo {
  width: 20px;
  height: 18px;
  border: 1px solid white;
  margin: 0;
}

.comment-author {
  color: #828282;
}

.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  padding: 0.2rem;
  margin: 0.5rem 0;
  width: 100%;
  margin-bottom: 0.2em;
  max-width: 500px;
}

/* Login form */

.login-input {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.4);
}

.login-input:active,
.login-input:focus {
  background: rgb(122, 122, 131);
  color: yellow;
}

.login-button {
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 7px -2px rgba(0, 0, 0, 0.3);
  background: rgb(218, 30, 30);
  color: white;
  font-size: 1.2rem;
  border-radius: 3px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.login-button:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
